@charset "utf-8";
/* CSS Document */
/*---------------------------------------------------------------------------*/
								/*Corpo*/
/*---------------------------------------------------------------------------*/
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-size:16px;
    color: #f8f8f8;
	font-family: 'Kanit', sans-serif;
}
.container{
	width:92%;
	height: auto;
	margin: 0 auto;
}
/*---------------------------------------------------------------------------*/
							/*Tipografia*/
/*---------------------------------------------------------------------------*/
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
